*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
		margin: 0px;
    z-index: 9;
	}

	.Logo img:hover{transform:scale(1.4);
 filter: saturate(180%);
	transition: all .3s;
}
.Menu a,i{
border: black 5px double;	
	}
	.Menu a,i{
		background-color: black;
		color: white;
		text-decoration: none;
		float: left;
		margin-left: -3.25%;
		margin-right: 3.20%;
		padding:1.5%;
		width: 14.91%;
		font: 90% Time-new-Roman;
		}

	.menu,.e a,i{margin-right: -2%;}	
	.Menu a,i{
	list-style: none;
}
	.Menu a:hover{
		background-color: white;
		color: #CE7D35;
		transition: all .3s

	}
	.Menu i:hover{
		background-color: white;
		color: #CE7D35;
		transition: all .3s
	}
.Menu ul{
	list-style: none;
}


.Logo, .Menu{
	margin:auto;
	text-align:center;
}
.Logo a{
	position: relative;
	top:65px;
}


.Logo img:hover{transform:scale(1.3);
 filter: saturate(180%);
  transition: all .3s;
}



.perfil a,i{
border: black 5px double;
}
.perfil i{
}
.perfil li i{
		background-color: black;
		color: white;
		text-decoration: none;
		margin-left: -3.20%;
		padding-right: 11.70%;
		padding-left: -2.80%;
		text-align: center;
font-family: Time-new-Roman;

		width: 8%;
		}
.perfil li i:hover{
background-color: white;
color: #CE7D35;
transition: all .3s;
}
 ol a{
    text-decoration:none;
    display:inline-block;
    padding:-30%;
    width:130px;
    height:35px;
    border:1px solid #000;
    color:#fff;
    background-color:#000;
    font-family: Time-new-Roman;
    }
    
    ol a:hover{
    color:#000;
    background-color:#fff;
    }

            
nav li>ol{
      display:none;
      }

nav li {
list-style-type: none;
}

 nav li:hover>ol{
      display:block;
      position:absolute;
      top:19%;
      left:1109px;
    list-style-type: none;

}
